<!doctype html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{main.settings.title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/main.css">
</head>
<body>
    <section class="wrapper">
        <section class="l-main">
            {{> header}} 
            <section class="row l-content">
                {{> body}}
            </section>
        </section>
        {{> footer}}
    </section>
    <script src="{{root}}assets/js/main.js"></script>
</body>
</html>
